export(add.to.label)
export(assign.label)
export(average.coord)
export(balance)
export(contribution)
export(create.quadrant)
export(csa.all)
export(csa.measures)
export(export)
export(export.label)
export(indicator)
export(invert)
export(map.active)
export(map.add)
export(map.array)
export(map.csa.all)
export(map.csa.mca)
export(map.csa.mca.array)
export(map.ctr)
export(map.ellipse)
export(map.ellipse.array)
export(map.ind)
export(map.mod)
export(map.path)
export(map.select)
export(map.sup)
export(min.cut)
export(print.soc.mca)
export(soc.csa)
export(soc.mca)
export(variance)
